.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f0f2f5;
}

.login-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  width: 300px;
}

button {
  margin-top: 20px;
  width: 100%;
}
