<ion-header>
  <ion-toolbar>
    <ion-title #homeTitle>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido, {{ username || 'Usuario' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input #nombre formControlName="name" type="text" placeholder="Tu nombre"></ion-input>
        </ion-item>

        <ion-item class="mt-12">
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input #apellido formControlName="lastname" type="text" placeholder="Tu apellido"></ion-input>
        </ion-item>

        <ion-item class="mt-12">
          <ion-label position="stacked">Nivel de educación</ion-label>
          <ion-select formControlName="education" interface="popover" placeholder="Selecciona">
            <ion-select-option value="Basica">Básica</ion-select-option>
            <ion-select-option value="Media">Media</ion-select-option>
            <ion-select-option value="Tecnica">Técnica</ion-select-option>
            <ion-select-option value="Universitaria">Universitaria</ion-select-option>
            <ion-select-option value="Postgrado">Postgrado</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="mt-12">
          <!-- Angular Material Datepicker -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate" placeholder="dd/mm/aaaa">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="btns mt-24">
          <ion-button color="medium" (click)="onClear()">Limpiar</ion-button>
          <ion-button (click)="onShow()">Mostrar</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
