<ion-header>
  <ion-toolbar>
    <ion-title>Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 style="margin-block-end:16px">Planes Disponibles</h2>

  <div class="plan-card">
    <h3>Plan Básico</h3>
    <p>Ideal para empezar</p>
  </div>

  <div class="plan-card">
    <h3>Plan Pro</h3>
    <p>Para usuarios activos</p>
  </div>

  <div class="plan-card">
    <h3>Plan Elite</h3>
    <p>Todo ilimitado</p>
  </div>

  <ion-button routerLink="/home2">Volver al Inicio</ion-button>
</ion-content>
